.new-user-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin: 1rem;
    padding: 1.5rem;
}

.new-user-row {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    margin: 1rem;
}

.new-user-container input {
    /*width: 40%;*/
    font-size: 24px;
}

.new-user-combo {
    width: 20%;

}

.new-user-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.new-user-submit {
    justify-self: end;
    padding-left: 3rem;
    padding-right: 3rem;
    margin: 1rem;
}