.new-book-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 1rem;
    padding: 1.5rem;
}

.new-book-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.new-book-container input {
    font-size: 24px;
}

.new-book-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.new-book-submit {
    justify-self: end;
    padding-left: 3rem;
    padding-right: 3rem;
    margin: 1rem;
}