.view-container {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    margin: 10rem;
    padding: 10rem;
}

.button {
    justify-self: end;
    font-size: 44px;
    padding: 0.4rem
}

.row-title {
    font-size: 40px;
    font-weight: bold;
}

.row-text {
    font-size: 30px;
    font-weight: normal;
}
.container-row {
    gap: 0.5rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}