.error-msg {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}

.error-msg h1 {
    font-weight: bold;
    font-size: 40px;
}

.error-msg Button {
    font-size: 24px;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}