.header {
    padding: 1rem;
    gap: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 44px;
    font-family: "Ubuntu Mono", serif;
}

.dash-board {
    padding: 1rem;
    gap: 2rem;
    display: flex;
    flex-direction: row;
    align-items: start;
    justify-content: center;

}

.dash-board-column {
    padding: 1rem;
    gap: 2rem;
    display: flex;
    flex-direction: column;
    width: 50%;
    justify-content: center;
    align-items: center;
    font-size: 44px;
    font-family: "Ubuntu Mono", serif;
}